<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
    <div class="flex-col-left">
        <input type="button" class="nav-btn" id="homeNavBtn" value="< Home" >
    </div>
    <h2>{% block title %}Vowel Chart Tutorial{% endblock %}</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
{% endblock %}

{% block content %}
    <div class="flex-row">
        <div class="flex-row">
            <p>
                We can plot a tongue’s position on a vowel chart.
                The tongue tip position is captured in the horizontal axis as either near the front or back of the mouth.
                The vertical axis represents the height of your tongue or how close it is to the roof of your mouth.
            </p>
            <p>
                Click the points on the chart to hear the associated vowel.
            </p>
        </div>
        <div class="flex-col">
            <div class="flex-row">
                <div class="flex-row">
                    <img src="{{ url_for('static', filename='images/frontHigh-faceCutaway.png') }}"
                         alt="tongue height for front high vowel"
                         onclick="playSound('frontHigh')">
                    <label>'ee' as in 'heat'</label>
                    <audio id="frontHigh" src="{{ url_for('static', filename='audio/frontHigh.wav') }}"></audio>
                </div>
                <div class="flex-row">
                    <img src="{{ url_for('static', filename='images/backHigh-faceCutaway.png') }}"
                         alt="tongue height for back high vowel"
                         onclick="playSound('backHigh')">
                    <audio id="backHigh" src="{{ url_for('static', filename='audio/backHigh.wav') }}"></audio>
                    <label>'oo' as in 'hoot'</label>
                </div>
            </div>
            <div class="flex-row vowel-chart">
                <div id="message"></div>
                <div class="flex-col vowel-chart">
                    <svg id="svg-tutP2" width=100% length="auto" viewBox="0,0,400,300"></svg>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-row">
                    <img src="{{ url_for('static', filename='images/frontLow-faceCutaway.png') }}"
                         alt="tongue height for front low vowel"
                         onclick="playSound('frontLowImg')">
                    <label>'ae' as in 'hat' </label>
                    <audio id="frontLowImg" src="{{ url_for('static', filename='audio/frontLow.wav') }}"></audio>
                </div>
                <div class="flex-row">
                    <img src="{{ url_for('static', filename='images/backLow-faceCutaway.png') }}"
                         alt="tongue height for back low vowel"
                         onclick="playSound('backLowImg')">
                    <label>'a' as in 'awe'</label>
                    <audio id="backLowImg" src="{{ url_for('static', filename='audio/backLow.wav') }}"></audio>
                </div>
            </div>
        </div>
            <input type="button" class="next-btn" value=">" onclick="navigateToRoute('tutorial/vowelP3')">
    </div>
    <div id="message"></div>
    <script type="module" src="{{ url_for('static', filename='js/vwlTutorial.js') }}"></script>
{% endblock %}