<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
    <div class="flex-col">
        <h2>{% block title %}Tutorial (5 of 6) {% endblock %}</h2>
        <div class="flex-col-right">
            <input type="button" class="nav-btn" id="homeNavBtn" value="Home" >
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
{% endblock %}

{% block content %}
    <div class="flex-row">
    <h3>Mimicking a Teacher's Vowels </h3>
        <p>
            Your goal is to get closer to the teacher's vowels (plotted in orange) using the following steps.
        </p>
        <ol> <!-- This is the tag for an ordered list -->
            <li>Listen to the teacher’s recording</li> <!-- Each item in the list is also wrapped in an <li> tag -->
            <li>Record your own</li>
            <li>Repeat!</li>
        </ol>
        <div class="flex-col vowel-chart">
            <div class="flex-col vowel-chart">
                <div id="message"></div>
                <svg id="svg-tutP5" width=100% length="auto" viewBox="0,0,400,300"></svg>
            </div>
            <div class="flex-row">
                <p class="recordingInstructions" style="display: none"></p>
                <input type="button" id="tutP5Btn" value="Start">
            </div>
        </div>
        <div class="flex-col nav-btns">
            <div class="flex-col-left">
                <input type="button" class="back-btn" value="<" onclick="navigateToRoute('tutorial/vowelP4')">
            </div>
            <div class="flex-col-right">
                <input type="button" class="next-btn" value=">" onclick="navigateToRoute('tutorial/vowelP6')">
            </div>
        </div>
        <hr>
        <!-- Recordings and loader would go here, if applicable -->
        <div id="recordingsList"></div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/vwlTutorial.js') }}"></script>
{% endblock %}