vowelP3.html<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Vowel Chart Tutorial{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post">
    <p>
        Let’s focus on the tongue tip (horizontal axis).

        Try recording the word "beet" then “boot” and be aware of your tongue tip in your mouth.

        Notice that the vowels show up on the left and right sides of the chart.

    </p>
    <p></p>
    <div class="flex-col">
        <svg width=75% length="auto" viewBox="0,0,400,300"></svg>
    </div>
    <div class="flex-col">
        <div class="flex-row">
            <h1>Example Words</h1>
            <p>feed, hat, get</p>
        </div>
        <input type="button" value="record audio">
    </div>
    <div class="flex-col-right">
        <input type="button" class="next-btn" value=">" idnum="" >
    </div>




    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="module" src="../../static/js/vwlChart.js"></script>
</form>
{% endblock %}