<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
    <div class="flex-col-left">
        <input type="button" class="nav-btn" id="homeNavBtn" value="< Home" >
    </div>
    <h2>{% block title %}Vowel Chart Tutorial{% endblock %}</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
{% endblock %}

{% block content %}
    <div class="flex-col">
        <div class="flex-row">
            <div class="flex-row">
                <img src="{{ url_for('static', filename='images/frontHigh-faceCutaway.png') }}"
                     alt="tongue height for front high vowel"
                     onclick="playSound('frontHigh')">
                <label>'ee' as in 'heat'</label>
                <audio id="frontHigh" src="{{ url_for('static', filename='audio/frontHigh.wav') }}"></audio>
            </div>
            <div class="flex-row">
                <img src="{{ url_for('static', filename='images/backHigh-faceCutaway.png') }}"
                     alt="tongue height for back high vowel"
                     onclick="playSound('backHigh')">
                <audio id="backHigh" src="{{ url_for('static', filename='audio/backHigh.wav') }}"></audio>
                <label>'oo' as in 'hoot'</label>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row">
                <img src="{{ url_for('static', filename='images/frontLow-faceCutaway.png') }}"
                     alt="tongue height for front low vowel"
                     onclick="playSound('frontLow')">
                <label>'ae' as in 'hat' </label>
                <audio id="frontLow" src="{{ url_for('static', filename='audio/frontLow.wav') }}"></audio>
            </div>
            <div class="flex-row">
                <img src="{{ url_for('static', filename='images/backLow-faceCutaway.png') }}"
                     alt="tongue height for back low vowel"
                     onclick="playSound('backLow')">
                <label>'a' as in 'awe'</label>
                <audio id="backLow" src="{{ url_for('static', filename='audio/backLow.wav') }}"></audio>
            </div>
        </div>
        <div class="flex-row">
            <p>
                Vowels are formed by the position of the tongue in the mouth.
            </p>
            <p>
                Click on the pictures to hear the vowel for the corresponding approximate position of the tongue.
            </p>
        </div>
        <input type="button" class="next-btn" value=">" onclick="navigateToRoute('tutorial/vowelP2')">
    </div>
    <div id="message"></div>


    <script type="module" src="{{ url_for('static', filename='js/vwlChart.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/vwlTutorial.js') }}"></script>

{% endblock %}