<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Vowel Chart Tutorial{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>
       Vowel charts represent the tongue position when saying a vowel.
        In this tutorial, we will practice saying words to build intuition on how to read a vowel chart.
    </p>
    <p>
        To get started, record the example words or words of your choice! Notice how the position of your tongue
        affects where the vowel will appear on the chart.
    </p>
    <div class="flex-col">
        <div class="flex-row">
            <h1>Example Words</h1>
            <p>heed, four, blue</p>
        </div>
        <input type="button" id="myButton" value="record audio">
    </div>
    <hr>
    <div class="flex-col">
        <svg width=75% length="auto" viewBox="0,0,400,300"></svg>
    </div>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="module" src="../../static/js/vwlChart.js"></script>
{#    <script type="module" src="../../static/js/myJS.js"></script>#}


    {#        <input type="button" class="next-btn" value=">" idnum="" >#}

    <div id="recordingsList"></div>

    <div class="loader loader1">
        <span class="stroke"></span>
        <span class="stroke"></span>
        <span class="stroke"></span>
        <span class="stroke"></span>
        <span class="stroke"></span>
    </div>
{% endblock %}