<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
    <div class="flex-col-left">
        <input type="button" class="nav-btn" id="homeNavBtn" value="< Home" >
    </div>
    <h2>{% block title %}Vowel Chart Tutorial{% endblock %}</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
{% endblock %}

{% block content %}
<form method="post">
    <p>
        Now that you’ve played around with the chart, let’s unpack what the axes mean.
    </p>
    <p>
        The horizontal axis represents where the tip of the tongue is in the mouth, either near the front of the mouth
        or the back.
    </p>
    <p>
       Try recording the word "feed" or “hat”. They will show up on the left side of the chart, since they are fronted
        vowels.
    </p>
    <p></p>
    <div class="flex-row">
        <div class="flex-col">
            <input type="button" id="tutP3Btn" value="record audio">
        </div>
        <hr>
        <div id="message"></div>
        <div class="flex-col">
            <svg id="svg-tutP3" width=100% length="auto" viewBox="0,0,400,300"></svg>
        </div>
        <!-- Recordings and loader would go here, if applicable -->
        <div id="recordingsList"></div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/vwlTutorial.js') }}"></script>
</form>
{% endblock %}