<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
    <div class="flex-col">
        <h2>{% block title %}Tutorial (6 of 6) {% endblock %}</h2>
        <div class="flex-col-right">
            <input type="button" class="nav-btn" id="homeNavBtn" value="Home" >
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
{% endblock %}

{% block content %}
    <div class="flex-row">
        <div class="flex-row">
            <p>
                That’s all! Let’s sum up what you learned.
            </p>
            <ol> <!-- This is the tag for an ordered list -->
                <li>A vowel chart represents the position of the tongue in the mouth</li> <!-- Each item in the list is also wrapped in an <li> tag -->
                <li>The horizontal axis is the tongue tip position</li>
                <li>The vertical axis is the tongue height</li>
            </ol>
            <p>Now put this knowledge to practice!</p>
        </div>
        <div class="flex-col">
            <div class="flex-row face-cutaway">
                <div class="flex-row">
                    <img src="{{ url_for('static', filename='images/FH-faceCutaway.png') }}"
                         alt="tongue height for front high vowel"
                         onclick="playSound('frontHigh')">
                    <label>'ee' as in 'heat'</label>
                    <audio id="frontHigh" src="{{ url_for('static', filename='audio/frontHigh.wav') }}"></audio>
                </div>
                <div class="flex-row">
                    <img src="{{ url_for('static', filename='images/FL-faceCutaway.png') }}"
                         alt="tongue height for front low vowel"
                         onclick="playSound('frontLowImg')">
                    <label>'ae' as in 'hat' </label>
                    <audio id="frontLowImg" src="{{ url_for('static', filename='audio/frontLow.wav') }}"></audio>
                    <input type="button" class="back-btn" value="<" onclick="navigateToRoute('tutorial/vowelP3')">
                </div>
            </div>
            <div class="flex-row vowel-chart">
                <div id="message"></div>
                <div class="flex-col">
                    <svg id="svg-tutP6" width=100% length="auto" viewBox="0,0,400,300"></svg>
                </div>
            </div>
            <div class="flex-row face-cutaway">
                <div class="flex-row">
                    <img src="{{ url_for('static', filename='images/BH-faceCutaway.png') }}"
                         alt="tongue height for back high vowel"
                         onclick="playSound('backHigh')">
                    <audio id="backHigh" src="{{ url_for('static', filename='audio/backHigh.wav') }}"></audio>
                    <label>'oo' as in 'hoot'</label>
                </div>
                <div class="flex-row">
                    <img src="{{ url_for('static', filename='images/BL-faceCutaway.png') }}"
                         alt="tongue height for back low vowel"
                         onclick="playSound('backLowImg')">
                    <label>'a' as in 'awe'</label>
                    <audio id="backLowImg" src="{{ url_for('static', filename='audio/backLow.wav') }}"></audio>
                </div>
                <input type="button" id="practiceNavBtn" value="practice">
            </div>
        </div>
    </div>
    <div id="message"></div>
    <script type="module" src="{{ url_for('static', filename='js/vwlTutorial.js') }}"></script>
{% endblock %}