<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
    <div class="flex-col-left">
        <input type="button" class="nav-btn" id="homeNavBtn" value="< Home" >
    </div>
    <h2>{% block title %}Vowel Chart Tutorial{% endblock %}</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
{% endblock %}

{% block content %}
    <div class="flex-row">
    <h3>Tongue Tip (horizontal axis)</h3>
        <p>
            Try recording the word "beet" then “boot” and be aware of your tongue tip in your mouth.<br><br>

            Notice that the vowels show up on the left and right sides of the chart.<br><br>
        </p>
        <div class="flex-col">
            <div class="flex-col vowel-chart">
                <div id="message"></div>
                <svg id="svg-tutP3" width=100% length="auto" viewBox="0,0,400,300"></svg>
            </div>
            <div class="flex-row">
                <input type="button" id="tutP3Btn" value="record audio">
            </div>
        </div>
        <div class="flex-col">
            <div class="flex-col-left">
                <input id="p33" type="button" class="back-btn" value="<" onclick="navigateToRoute('tutorial/vowelP2')">
            </div>
            <div class="flex-col-right">
                <input id="p33" type="button" class="next-btn" value=">" onclick="navigateToRoute('tutorial/vowelP4')">
            </div>
        </div>
        <hr>
        <!-- Recordings and loader would go here, if applicable -->
        <div id="recordingsList"></div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/vwlTutorial.js') }}"></script>
{% endblock %}