<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Speaker Calibration{% endblock %}</h2>
{% endblock %}

{% block content %}
    <div class="flex-col-left">
        <input type="button" class="nav-btn" id="homeNavBtn" value="< Home" >
    </div>
    <p>Record the following words and sounds, then click 'calibrate!'.</p>
    {#    User Id input field and button    #}
    <form>
        <div class="flex-row">
            <input name="userId" id="textInputId" placeholder="name (e.g. Zhen)" required>
            <button type="submit" id="btnUserId" >submit</button>
        </div>
    </form>
    <hr>
    <div class="flex-col">
        <div class="flex-row">
            <img src="{{ url_for('static', filename='images/vwl_tongue.png') }}" alt="tongue height for [vwl]">
            <label>beet</label>
            <input type="button" id="frontHigh" value="Start Recording">
        </div>
        <div class="flex-row">
            <img src="{{ url_for('static', filename='images/vwl_tongue.png') }}" alt="tongue height for [vwl]">
            <label>owl sound (hoo)</label>
            <input type="button" id="backHigh" value="Start Recording">
        </div>
        <div class="flex-row">
            <img src="{{ url_for('static', filename='images/vwl_tongue.png') }}" alt="tongue height for [vwl]">
            <label>bat</label>
            <input type="button" id="frontLow" value="Start Recording">
        </div>
        <div class="flex-row">
            <img src="{{ url_for('static', filename='images/vwl_tongue.png') }}" alt="tongue height for [vwl]">
            <label>crow sound (caw)</label>
            <input type="button" id="backLow" value="Start Recording">
        </div>
    </div>

    <div class="flex-col">
        <input type="button" id="calibrateBtn" value="calibrate!">
    </div>


    <script type="module" src="{{ url_for('static', filename='js/calibrate.js') }}"></script>
{% endblock %}