<!-- Template: auth/login.html -->
{% extends 'base.html' %}

{% block header %}
    <div class="flex-col">
        <h2>{% block title %}Speaker Calibration{% endblock %}</h2>
        <div class="flex-col-right">
            <input type="button" class="nav-btn" id="homeNavBtn" value="Home" >
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calibration.css') }}">
{% endblock %}

{% block content %}
    <div class="tabs">
        <div class="tab active-tab" onclick="openTab(event, 'frontHigh')"></div>
        <div class="tab" onclick="openTab(event, 'backHigh')"></div>
        <div class="tab" onclick="openTab(event, 'frontLow')"></div>
        <div class="tab" onclick="openTab(event, 'backLow')"></div>
    </div>
    <svg id="svg-calibrate" width=100% length="auto" viewBox="0,0,400,300" display="none"></svg>
    <p>Choose an id, record the following words, then click 'calibrate!'.</p>
    {#    User Id input field and button    #}
    <div id="userIdDiv" style="display: flex">
        <div class="flex-row">
            <input name="userId" id="textInputId" placeholder="name (e.g. Zhen)" required>
            <button type="submit" id="btnUserId">Save ID</button>
        </div>
    </div>
    <div id="successMessage" style="display: none">ID submitted successfully!</div>

    <hr>

    <!-- Tab content for frontHigh -->
    <div id="frontHighTab" class="tab-content visible" style="display: flex">
        <div class="flex-row">
            <img src="{{ url_for('static', filename='images/frontHigh-faceCutaway.png') }}"
                 alt="tongue height for front high vowel">
            <label>heat</label>
            <label class="subtitle">(front high)</label>
            <input class="btnVwlCal" type="button" id="frontHigh" value="Start Recording" disabled>

            <div class="questionQual" style="display: none">Did the recording capture you saying 'heat'?</div>
            <div class="flex-col">
                <input type="button" class="yesBtn" value="Yes" style="display: none;">
                <input type="button" class="noBtn" value="No" style="display: none;">
            </div>
{#            <div class="messageForTab" style="display: none" value="Please record again">Please record again</div>#}
        </div>
    </div>

    <!-- Tab content for Pair 2 -->
    <div id="backHighTab" class="tab-content" style="display: none">
        <!-- Repeat the same structure for Pair 2 -->
        <div class="flex-row">
            <img src="{{ url_for('static', filename='images/backHigh-faceCutaway.png') }}"
                 alt="tongue height for back high vowel">
            <label>hoot</label>
            <label class="subtitle">(back high)</label>
            <input class="btnVwlCal" type="button" id="backHigh" value="Start Recording">
            <div class="questionQual" style="display: none">Did the recording capture you saying 'hoot'?</div>
            <div class="flex-col">
                <input type="button" class="yesBtn" value="Yes" style="display: none;">
                <input type="button" class="noBtn" value="No" style="display: none;">
            </div>
{#            <div class="messageForTab" style="display: none" value="Please record again">Please record again</div>#}
        </div>
    </div>

    <!-- Tab content for Pair 3 -->
    <div id="frontLowTab" class="tab-content" style="display: none;">
        <!-- Repeat the same structure for Pair 3 -->
        <div class="flex-row">
            <img src="{{ url_for('static', filename='images/frontLow-faceCutaway.png') }}"
                 alt="tongue height for front low vowel">
            <label>hat</label>
            <label class="subtitle">(front low)</label>
            <input class="btnVwlCal" type="button" id="frontLow" value="Start Recording">

            <div class="questionQual" style="display: none">Did the recording capture you saying 'hat'?</div>
            <div class="flex-col">
                <input type="button" class="yesBtn" value="Yes" style="display: none;">
                <input type="button" class="noBtn" value="No" style="display: none;">
            </div>
{#            <div class="messageForTab" style="display: none" value="Please record again">Please record again</div>#}
        </div>
    </div>

    <!-- Tab content for Pair 4 -->
    <div id="backLowTab" class="tab-content" style="display: none;">
        <!-- Repeat the same structure for Pair 3 -->
        <div class="flex-row">
            <img src="{{ url_for('static', filename='images/backLow-faceCutaway.png') }}"
                 alt="tongue height for back low vowel">
            <label>awe</label>
            <label class="subtitle">(back low)</label>
            <input class="btnVwlCal" type="button" id="backLow" value="Start Recording">

            <div class="questionQual" style="display: none">Did the recording capture you saying 'awe'?</div>
            <div class="flex-col">
                <input type="button" class="yesBtn" value="Yes" style="display: none;">
                <input type="button" class="noBtn" value="No" style="display: none;">
            </div>
        </div>
    </div>

    <div id="message"></div>
    <div class="messageForTab" style="display: none" value="Please record again">Please record again</div>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/vwlChart.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/practice.js') }}"></script>
{#    <script type="module" src="../../static/js/myJS.js"></script>#}


    {#        <input type="button" class="next-btn" value=">" idnum="" >#}

    <div id="recordingsList"></div>

    <div class="loader loader1">
        <span class="stroke"></span>
        <span class="stroke"></span>
        <span class="stroke"></span>
        <span class="stroke"></span>
        <span class="stroke"></span>
    </div>
{% endblock %}